<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Stage 1: Empty environment training -->
    
    <!-- Load stage-specific parameters -->
    <rosparam command="load" file="$(find my_turtlebot3_openai_example)/config/stage1_params.yaml" />
    
    <!-- Start training script -->
    <node pkg="my_turtlebot3_openai_example" type="start_deepqlearning.py" name="turtlebot3_stage1_training" output="screen"/>
</launch>
