<?xml version="1.0"?>
<launch>
  <!-- make the robot start in a position near the kitchen-->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="-0.3"/>
    <arg name="y_pos" default="2.1"/>
    <arg name="z_pos" default="0.0"/>

     <!-- Fixed episode start pose (ONLY for this launch) -->
    <param name="/turtlebot3/use_fixed_initial_pose" value="true"/>
    <param name="/turtlebot3/fixed_init_x" value="$(arg x_pos)"/>
    <param name="/turtlebot3/fixed_init_y" value="$(arg y_pos)"/>
    <param name="/turtlebot3/fixed_init_z" value="$(arg z_pos)"/>
    <param name="/turtlebot3/fixed_init_yaw" value="0.0"/>

    <!-- Must match the Gazebo model name that gets spawned -->
    <param name="/turtlebot3/gazebo_model_name" value="turtlebot3_$(arg model)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/stage5_restaurant.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>



  <node pkg="turtlebot3_gazebo" type="random_walker.py" name="random_walker" output="screen">
    <param name="obstacle_speed" value="0.15"/>
    <param name="update_rate" value="30"/>
    <rosparam>
paths:
  - name: moving_obstacle_1
    waypoints:
      - [0.5, -2.5, 0.3]
      - [0.5,  2.2, 0.3]
      - [0.5, -2.5, 0.3]
  - name: moving_obstacle_2
    waypoints:
      - [-0.5,  2.2, 0.3]
      - [-0.5, -2.5, 0.3]
      - [-0.5,  2.2, 0.3]
  - name: moving_obstacle_3
    waypoints:
      - [-2.2, -2.2, 0.3]
      - [ 2.2, -2.2, 0.3]
      - [ 2.2,  2.0, 0.3]
      - [-2.2,  2.0, 0.3]
      - [-2.2, -2.2, 0.3]
  - name: moving_obstacle_4
    waypoints:
      - [ 2.2,  2.0, 0.3]
      - [-2.2,  2.0, 0.3]
      - [-2.2, -2.2, 0.3]
      - [ 2.2, -2.2, 0.3]
      - [ 2.2,  2.0, 0.3]
  - name: moving_obstacle_5
    waypoints:
      - [-2.2,  2.0, 0.3]
      - [-2.2, -2.2, 0.3]
      - [ 2.2, -2.2, 0.3]
      - [ 2.2,  2.0, 0.3]
      - [-2.2,  2.0, 0.3]
  - name: moving_obstacle_6
    waypoints:
      - [ 2.2, -2.2, 0.3]
      - [ 2.2,  2.0, 0.3]
      - [-2.2,  2.0, 0.3]
      - [-2.2, -2.2, 0.3]
      - [ 2.2, -2.2, 0.3]
  - name: moving_obstacle_7
    waypoints:
      - [-2.5,  0.0, 0.3]
      - [ 2.2,  0.0, 0.3]
      - [-2.5,  0.0, 0.3]
    </rosparam>
  </node>
</launch>
